

.d-flex {
    display: flex;
}
.d-flex-space-around {
    justify-content: space-around;
}
.d-flex-space-between{
    justify-content: space-between;
}
.d-flex-align-center {
    align-items: center;
}
.d-flex-wrap {
    flex-wrap: wrap;
}

.w-50 {
    width: 50%;
}
.w-100 {
    width: 100%;
}

.img-resize {
    --max-size: 100px;      
    width: 100%;
    max-width: var(--max-size);      /* ?*/ 
}

.relative {
    position: relative;
}

.abs-text-shadow {
    text-shadow: 0px 0px 165px rgba(0, 0, 0, 0.9);
    font-weight: 700;
    font-size: 185px;
    position: absolute;
    color: #131210;
}

.btn {
    display: inline-block;
    background-color: var(--pr);
    padding: 18px 25px;
    color: #fff;
    border-radius: 40px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
}
.btn.btn-sm {
    padding: 12px 20px;
}
.btn.btn-lg {
    padding: 22px 35px;
}
.btn.btn-white {
    background-color: #fff;
    color: var(--pr);;
}
.btn.btn-gray {
    background-color: #e2e2e2;
    color: #fff;
}
.btn.btn-line {
    background-color: transparent;
    color: var(--pr);
    border: 3px solid var(--pr);;
}


.container,
.container-fullsize {   /* ?*/ 
	margin: 0 auto;
	padding: 0 15px;
    position: relative;
}
.container {
	max-width: 1180px;
}
.container-fullsize {
	padding-left: 100px;   
	padding-right: 100px;
}

.title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 40px;
}
.title.title--gray { 
    color: #3c3c3c;   
}
.title.title--blue { 
    color: #135ec5;
}

.helper-price {
    font-size: 30px;
    color: #16ad2c;
}

.fs-60px {
    font-size: 60px;
}
.fs-30px {
    font-size: 30px;
}
.fs-18px {
    font-size: 30px;
}

.text-default {
    color: #1d1d1d;
}

.text-center{ 
    text-align: center;   
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-20px {
    margin-bottom: 20px;
}

.fw-400{ 
     font-weight: 400;
}

.fw-700{ 
    font-weight: 700;
}






 
.abs-text-shadow-white{
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
    font-weight: 700;
    font-size: 185px;
    position: absolute;
    color: #ffffff;
}

 



























/*



.position-right{
position: absolute;
right: 50px;
top: 1500px;
}
.position-left{
    position: absolute;
    left: 50px;
    top: 50px;
}

.abs-text-shadow-white{
    text-shadow: 0px 0px 165px rgba(255, 255, 255, 0.9);
    font-weight: 700;
    font-size: 185px;
    position: absolute;

    bottom: 250px;
    color: #ffffff;
}

.position-bottom{
    position: absolute;
    bottom: 250px;
}
