:root {
    --pr: #135ec5;
    --gray: #c1c1c1;
}

* {
    box-sizing: border-box;
}





body {
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

a {
	text-decoration: none;
    display: inline-block;
}


